/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 100%; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

/**
 //* Typography Styles
 */
body {
  font-family: "Nunito", sans-serif; }

.heading__primary {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  animation: fromLeft 2s ease-out; }
  @media only screen and (min-width: 25em) {
    .heading__primary {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 31.25em) {
    .heading__primary {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 37.5em) {
    .heading__primary {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 50em) {
    .heading__primary {
      font-size: 1.7rem; } }
  @media only screen and (min-width: 68.75em) {
    .heading__primary {
      font-size: 1.9rem; } }

.heading__paragraph {
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
  animation: fromRight 2s ease-out; }
  @media only screen and (min-width: 31.25em) {
    .heading__paragraph {
      font-size: 1.1rem; } }
  @media only screen and (min-width: 37.5em) {
    .heading__paragraph {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 50em) {
    .heading__paragraph {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 68.75em) {
    .heading__paragraph {
      font-size: 1.6rem; } }

.heading-tertiary {
  font-size: 0.8rem;
  color: #6d6d6d;
  text-align: center;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 25em) {
    .heading-tertiary {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 31.25em) {
    .heading-tertiary {
      font-size: 1.1rem; } }

.heading-about {
  font-size: 1.2rem;
  color: #575757;
  font-weight: bold;
  text-transform: uppercase; }
  @media only screen and (min-width: 43.75em) {
    .heading-about {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 75em) {
    .heading-about {
      font-size: 1.5rem; } }

.items__paragraph {
  font-size: 0.9rem;
  color: #6d6d6d;
  font-weight: 400; }
  @media only screen and (min-width: 43.75em) {
    .items__paragraph {
      font-size: 1rem; } }
  @media only screen and (min-width: 75em) {
    .items__paragraph {
      font-size: 1.1rem; } }

.items__box {
  text-align: center; }

.heading-slider {
  text-align: center;
  font-size: 1.1rem;
  color: #5a5a5a;
  font-weight: 400; }
  @media only screen and (min-width: 31.25em) {
    .heading-slider {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 43.75em) {
    .heading-slider {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading-slider {
      font-size: 1.4rem; } }
  .heading-slider span {
    color: #4b4b4b;
    font-weight: bolder;
    text-align: center; }

.slider__paragraph {
  font-size: 1rem;
  color: #5a5a5a;
  font-weight: 300; }
  @media only screen and (min-width: 31.25em) {
    .slider__paragraph {
      font-size: 1.1rem;
      text-align: center; } }

.slider__client-name {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 0.9rem; }
  @media only screen and (min-width: 31.25em) {
    .slider__client-name {
      font-size: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .slider__client-name {
      font-size: 1.1rem; } }

.slider__client-surname {
  font-size: 0.8rem;
  color: #6d6d6d; }
  @media only screen and (min-width: 31.25em) {
    .slider__client-surname {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 56.25em) {
    .slider__client-surname {
      font-size: 1rem; } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@keyframes fromLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromTop {
  0% {
    transform: translateY(-3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.header {
  position: relative;
  height: 40vh;
  width: 100vw;
  margin: 0;
  background-image: url("../img/Backgroundimage.png");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 75em) {
    .header {
      height: 50vh; } }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
    @media only screen and (min-width: 31.25em) {
      .header__logo-box {
        top: 1.2rem; } }
    @media only screen and (min-width: 37.5em) {
      .header__logo-box {
        top: 1.3rem; } }
    @media only screen and (min-width: 56.25em) {
      .header__logo-box {
        left: 2rem; } }
  .header__logo {
    height: 0.6rem; }
    @media only screen and (min-width: 25em) {
      .header__logo {
        height: 0.7rem; } }
    @media only screen and (min-width: 31.25em) {
      .header__logo {
        height: 0.9rem; } }
    @media only screen and (min-width: 50em) {
      .header__logo {
        height: 1.1rem; } }
    @media only screen and (min-width: 56.25em) {
      .header__logo {
        height: 1.2rem; } }
    @media only screen and (min-width: 68.75em) {
      .header__logo {
        height: 1.3rem; } }
  .header__text-box {
    position: absolute;
    width: 70%;
    top: 40%;
    left: 2rem; }
  .header__line {
    position: absolute;
    top: 3rem;
    width: 100%;
    border-width: 0 0 1px;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50%, rgba(255, 255, 255, 0) 100%) 0 0 100%;
    border-style: solid; }
    @media only screen and (min-width: 31.25em) {
      .header__line {
        top: 4rem; } }
  .header__navbar {
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    backface-visibility: hidden;
    animation: fromTop 1.7s ease-in-out; }
    .header__navbar ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .header__navbar li {
      font-size: 0.7rem;
      margin: 0.3rem;
      font-weight: 400; }
      @media only screen and (min-width: 25em) {
        .header__navbar li {
          font-size: 0.7rem; } }
      @media only screen and (min-width: 31.25em) {
        .header__navbar li {
          font-size: 1rem; } }
      @media only screen and (min-width: 50em) {
        .header__navbar li {
          font-size: 1.2rem; } }
      @media only screen and (min-width: 56.25em) {
        .header__navbar li {
          font-size: 1.3rem; } }
      @media only screen and (min-width: 68.75em) {
        .header__navbar li {
          font-size: 1.4rem; } }
    .header__navbar a {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s; }
      @media only screen and (min-width: 25em) {
        .header__navbar a {
          margin: 0 0.2rem; } }
      @media only screen and (min-width: 43.75em) {
        .header__navbar a {
          margin: 0 0.5rem; } }
      @media only screen and (min-width: 56.25em) {
        .header__navbar a {
          margin: 0 0.6rem; } }
      @media only screen and (min-width: 68.75em) {
        .header__navbar a {
          margin: 0 0.7rem; } }
      .header__navbar a:hover {
        background-image: linear-gradient(to right, #fad961, #f76b1c);
        -webkit-background-clip: text;
        color: transparent; }

.footer {
  padding: 2rem;
  font-size: 1rem;
  background-color: #eeeeee;
  text-align: center;
  color: #9a9898; }
  .footer strong {
    color: #7f7e7e; }
  .footer span {
    text-transform: uppercase; }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%; }
  @media only screen and (min-width: 50em) {
    .aside {
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline; } }
  @media only screen and (min-width: 50em) {
    .aside br {
      content: ""; } }

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  @media only screen and (min-width: 43.75em) {
    .items {
      flex-direction: row; } }
  @media only screen and (min-width: 68.75em) {
    .items {
      margin: 3rem 2rem; } }
  .items__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; }
    @media only screen and (min-width: 31.25em) {
      .items__box {
        padding: 1.5rem 4rem; } }
    @media only screen and (min-width: 37.5em) {
      .items__box {
        padding: 1.5rem 6rem; } }
    @media only screen and (min-width: 43.75em) {
      .items__box {
        padding: 1.5rem 2rem; } }
  .items__heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; }
  .items__icon {
    height: 1.5rem;
    margin-right: 0.4rem; }

.slider {
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
  margin: 2rem 2.5rem; }
  @media only screen and (min-width: 43.75em) {
    .slider {
      margin: 2rem 7rem; } }
  @media only screen and (min-width: 50em) {
    .slider {
      margin: 2rem 10rem; } }
  @media only screen and (min-width: 68.75em) {
    .slider {
      margin: 2rem 14rem; } }
  @media only screen and (min-width: 75em) {
    .slider {
      margin: 2rem 20rem; } }
  .slider__testimonial {
    margin: 1rem 0; }
    @media only screen and (min-width: 31.25em) {
      .slider__testimonial {
        display: flex;
        justify-content: center;
        align-items: flex-start; } }
  .slider__icon {
    height: 1.5rem;
    margin-right: 1rem; }
  .slider__paragraph {
    margin-bottom: 1rem; }
  .slider__client {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media only screen and (min-width: 43.75em) {
      .slider__client {
        justify-content: center; } }
  .slider__image {
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 0.7rem; }
  .slider__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .slider__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
  .slider__line-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .slider__line {
    margin-top: 1rem;
    width: 3rem;
    border-width: 0 0 5px;
    border-image: linear-gradient(90deg, #005c97, #363795 50%, #363795 100%) 0 0 100%;
    border-style: solid; }
  .slider__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; }
    .slider__dots .dot {
      height: 1rem;
      width: 1rem;
      background-color: #aaaaaaee;
      border-radius: 50%;
      margin: 0.3rem; }
      .slider__dots .dot:nth-child(3) {
        background-color: #575757; }

.btn,
.btn:link {
  font-size: 0.8rem;
  color: #fff;
  background-image: linear-gradient(to right, #f76b1c, #fad961);
  border-radius: 20px;
  padding: 0.5rem 0.7rem;
  outline: none;
  text-align: center;
  border-style: none;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s; }
  @media only screen and (min-width: 25em) {
    .btn,
    .btn:link {
      font-size: 0.9rem;
      padding: 0.6rem 0.9rem; } }
  @media only screen and (min-width: 50em) {
    .btn,
    .btn:link {
      font-size: 1.1rem;
      padding: 0.7rem 1rem; } }
  .btn:hover,
  .btn:link:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.3rem 0.4rem 0.6rem rgba(0, 0, 0, 0.4); }
  .btn:active,
  .btn:link:active {
    transform: translateY(-0.2rem);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4); }

.aside {
  background-color: #eeeeee; }
